* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background-color: #23243d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.wrapper__inner {
  position: relative;
}

.tries {
  color: rgb(207, 207, 207);
  padding: 20px;
  font-size: 12px;
  position: absolute;
  bottom: -60px;
}

.result {
  position: absolute;
  top: -100px;
  font-size: 48px;
}

.result.blocked {
  color: rgb(188, 188, 188);
  animation: slide 0.4s ease;
}

.result.success {
  left: 20px;
  color: rgb(100, 231, 116);
  animation: slide 0.4s ease;
}

.wrapper.block {
  background-color: #151515;
}

.wrapper.block input {
  background-color: #151515;
  border: 4px solid #c2c2c2;
  box-shadow: none;
}

.wrapper.wrong {
  background-color: #432222;
}

.wrapper.wrong input {
  border: 4px solid #dd4f4f;
  box-shadow: 0 0 60px rgba(214, 61, 69, 0.6);
  transition: all 0.3s ease;
  animation-name: shake;
  animation-duration: 0.3s;
  animation-timing-function: ease;
}

.wrapper.correct {
  background-color: #224329;
}

.wrapper.correct input {
  border: 4px solid #4fdd66;
  box-shadow: 0 0 60px rgba(41, 176, 66, 0.6);
  transition: all 0.3s ease;
}

.wrapper.set {
  background-color: #434222;
}

.wrapper.set input {
  border: 4px solid #e6d846;
  box-shadow: 0 0 60px rgba(233, 206, 54, 0.6);
  transition: all 0.3s ease;
  animation-name: stretch;
  animation-duration: 0.3s;
  animation-timing-function: ease;
}

input {
  border: 2px solid #4094e8;
  box-shadow: 0 0 20px rgba(45, 191, 239, 0.3);
  padding: 20px 40px;
  background-color: transparent;
  border-radius: 20px;
  font-size: 38px;
  transition: all 0.2s ease;
  color: white;
  outline: none;
  z-index: 10;
}

input:focus {
  border: 2px solid #4094e8;
  box-shadow: 0 0 30px rgba(45, 191, 239, 0.6);
  transform: scale(1.1);
}

input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

@keyframes shake {
  0% {
    transform: scale(1.1) translateX(0px);
  }
  25% {
    transform: scale(1.1) translateX(10px);
  }
  50% {
    transform: scale(1.1) translateX(-10px);
  }
  75% {
    transform: scale(1.1) translateX(10px);
  }
  100% {
    transform: scale(1.1) translateX(0px);
  }
}

@keyframes stretch {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.3, 0.97);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes slide {
  0% {
    top: 60px;
    opacity: 0;
  }

  100% {
    top: -100px;
    opacity: 1;
  }
}
